.about h2 {
    font-weight: 500;
    font-size: 30px;
    color: #707070;
    text-align: center;
    margin-top: 40px;
}

.about p {
    margin-bottom: 200px;
    text-align: justify;
    padding: 50px;
    margin-bottom: 450px;
}

.about b {
    color: #707070;
}